.nonebtnmodel .ant-btn:first-child{
    display: none;
}

.textcontainermodel{
    /* min-height:350px; */
    max-height: 350px;
    overflow-y:scroll ;
}

/* deletemodel css */

.ant-modal.delmodelwidth{
    width: 38% !important;
    top: 180px;
}
.display_block button{
    display: block !important;
}
.details_ticket{
    font-size: 14px;
    font-weight: bold;
    max-width: 255px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


