.nonebtnmodel .ant-btn:first-child{
    display: none;
}

.textcontainermodel{
    /* min-height:350px; */
    max-height: 350px;
    overflow-y:scroll ;
}

/* deletemodel css */

.ant-modal.delmodelwidth{
    width: 38% !important;
    top: 180px;
}
.nonebtnmodel .ant-modal-content{

    width: 149% !important;
    margin-left: -11% !important;
}


